# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.pytest_cache/
*.log

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
